@import "compass/reset";
@import "compass/css3";

body {
	font-family: "Source Sans Pro", sans-serif;
	color: #333;
	line-height: 1.45;
	background-color: #fff;
	margin: 0;
	-webkit-text-size-adjust: none;
	font-weight: 400;
}

// Typography
// Perfect Fourth
p {margin-bottom: 1.3em;}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1, .h1 {
  margin-top: 0;
  font-size: 2.074em;
}

h2, .h2 {font-size: 1.728em;}

h3, .h3 {font-size: 1.44em;}

h4, .h4 {font-size: 1.2em;}

h5, .h5 {font-size: 1em;}

h6, .h6, small, .small {font-size: 0.833em;}

// Margins and Pads

.m0 { margin: 0 !important; }
.m1 { margin: 10px; }
.m2 { margin: 20px; }
.mt1 { margin-top: 10px; }
.mt2 { margin-top: 20px; }

.pd0 { padding: 0 !important; }
.pd1 { padding: 10px; }
.pd2 { padding: 20px; }
.pt { padding-top: 10px; }
.pt2 { padding-top: 20px; }

// Specific Rules
#homepage {
	
	.imgcircle {
	width: 6.25em;
	height: 6.25em;
	border-radius: 100%;
	}

	.profile { 
		text-align: center;
		padding-top: 80px;
	}

	.siteheader { 
		background-color: #000;
		height: 40px;
		width: 100%;
		opacity: .8;
	}
}