@import "compass/reset";
@import "compass/css3";

body {
	font-family: "Source Sans Pro", sans-serif;
	color: #333;
	line-height: 1.414;
	background-color: #fff;
	margin: 0;
	-webkit-text-size-adjust: none;
}